
<%= render "shared/error_messages", model: @item %>

<h2>商品編集</h2>

<%= form_for @item, url: admin_item_path do |f| %>

<div class="col-xs-6">
<table>
	<tr>
		<th>商品画像</th>
	</tr>
	<tr>
		<td><%= f.attachment_field :image %></td>
	</tr>
</table>
</div>

<div class="col-xs-6">
<table class="table table-bordered">
	<tr>
		<th>商品名:<%= @item.item_name %></th>
		<td><%= f.text_field :item_name %></td>
	</tr>
	<tr>
		<th>説明:<%= @item.content %></th>
		<td><%= f.text_area :content %></td>
	</tr>
	<tr>
		<th>値段:<%= @item.price %>円</th>
		<td><%= f.text_field :price %></td>
	</tr>
	<tr>
		<th>状態</th>
		<td>
			<% if @item.selling_status==true %>
				<p>販売中</p>
				<%= f.hidden_field :selling_status, :value => false %>
				<%= f.submit "出品をやめる", class: "btn btn-danger" %><br>
			<p>（※状態が売却済みになります、この操作は取り消せません。）</p>
			<% else %>
				<P>売却済み</P>
			<% end %>
		</td>
	</tr>
</table>
<%= f.submit "保存", class: "btn btn-info" %>
<% end %>
</div>

