
<%= render "shared/error_messages", model: @item %>

<h2>商品編集</h2>

<%= form_for @item, url: admin_item_path do |f| %>

<div class="col-xs-6">
<table>
	<tr>
		<th>商品画像</th>
	</tr>
	<tr>
		<td><%= f.attachment_field :image %></td>
	</tr>
</table>
</div>

<div class="col-xs-6">
<table class="table table-bordered">
	<tr>
		<th><%= @item.item_name %></th>
		<td><%= f.text_field :item_name %></td>
	</tr>
	<tr>
		<th><%= @item.content %></th>
		<td><%= f.text_area :content %></td>
	</tr>
	<tr>
		<th><%= @item.price %></th>
		<td><%= f.text_field :price %></td>
	</tr>
</table>
<%= f.submit "保存", class: "btn btn-info" %>
<% end %>
</div>

