

<%= form_for @item, url: admin_items_path do |f| %>

<table>
	<tr>
		<th>商品画像</th>
	</tr>
	<tr>
		<td><%= f.attachment_field :image %></td>
	</tr>
</table>

<table>
	<tr>
		<th>名前</th>
		<td><%= f.text_area :item_name %></td>
	</tr>
	<tr>
		<th>説明</th>
		<td><%= f.text_area :content %></td>
	</tr>
	<tr>
		<th>値段</th>
		<td><%= f.text_area :price %></td>
	</tr>
</table>
<%= f.submit "保存" %>
<% end %>
