
<h2>商品登録</h2>

<%= form_for @item, url: admin_items_path do |f| %>

<%= render "shared/error_messages",model: @item %>

<div class="col-xs-6">
<table>
	<tr>
		<th>商品画像</th>
	</tr>
	<tr>
		<td><%= f.attachment_field :image %></td>
	</tr>
</table>
</div>


<div class="col-xs-6">
<table class="table table-bordered">
	<tr>
		<th>名前</th>
		<td><%= f.text_field :item_name %></td>
	</tr>
	<tr>
		<th>説明</th>
		<td><%= f.text_area :content %></td>
	</tr>
	<tr>
		<th>値段</th>
		<td><%= f.text_field :price %></td>
	</tr>
</table>

<div class="touroku">
	<%= f.submit "登録", class: "btn btn-info" %>
</div>

</div>
<% end %>
