
<div class="mypege">

<h2>ユーザー詳細</h2>

<div class="col-xs-6">

	<table class="table table-bordered">
		<tr>
			<th>名前</th>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td><%= @user.telephone_number %></td>
		</tr>
		<tr>
			<th>郵便番号</th>
			<td><%= @user.postal_code %></td>
		</tr>
		<tr>
			<th>住所</th>
			<td><%= @user.address %></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><%= @user.email %></td>
		</tr>
	</table>

	<%= link_to"編集", edit_user_user_path(current_user), class: "btn btn-success" %>

	<%= link_to"購入履歴一覧", user_purchases_path(current_user), class: "btn btn-primary" %>


	<%# form_for(@user,url:user_users_path(@user)) do |f| %>
	<%= form_for(@user,url:user_user_path(@user), html: {method: "delete"}) do |f| %>
		<%= f.hidden_field :user_status, :value => false %>
		<%= f.submit "退会", class: "btn btn-danger" %>
	<% end %>

	<%# link_to"退会する", user_user_path(current_user), method: :delete, class: "btn btn-danger" %>


</div>


</div>

