
<%= render "shared/error_messages", model: @market %>

<h1>浦和宿ふるさと市</h1>

<div class="col-xs-6">
<%= form_for(@market,url:admin_market_path(@market)) do |f| %>
<table class="table table-bordered">
	<tr>
		<th>開催日</th>
	</tr>
	<tr>
		<td>
			現在の内容:<%= @market.day %><br>
			<%= f.text_area :day %>
			<%= f.submit "編集" %>
		</td>
	</tr>
	<tr>
		<th>概要</th>
	</tr>
	<tr>
		<td>
			現在の内容:<%= @market.content %><br>
			<%= f.text_area :content %>
			<%= f.submit "編集" %>
		</td>
	</tr>
	<tr>
		<th>
		</th>
	</tr>
</table>
<% end %>
</div>
