<div class="col-xs-2 sidebar">

<div>

<% if admin_signed_in? %>

	<p class="side-p"><%= link_to"拓也コレクション", admin_stores_path %></p>
	<p><%= link_to"浦和宿ふるさと市", admin_tukinomiya_path %></p>
	<p><%= link_to"香取神社骨董市", admin_katori_path %></p>

<% else %>

	<p class="side-p"><%= link_to"拓也コレクション", user_stores_path %></p>
	<p><%= link_to"浦和宿ふるさと市", user_tukinomiya_path %></p>
	<p><%= link_to"香取神社骨董市", user_katori_path %></p>

<% end %>

</div>

</div>